缺曠通知單-epost/obj/Debug/K12.缺曠通知單_hwhs_epost.csproj.FileListAbsolute.txt
定期評量成績單-弘文/obj/x86/Debug/定期評量成績單_hwhs_epost.csproj.FileListAbsolute.txt
定期評量成績單-弘文/.vs/定期評量成績單_hwhs_epost/v16/.suo
定期評量成績單-弘文/.vs/定期評量成績單_hwhs_epost/v16/Server/sqlite3/db.lock
定期評量成績單-弘文/.vs/定期評量成績單_hwhs_epost/v16/Server/sqlite3/storage.ide
定期評量成績單-弘文/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
定期評量成績單-弘文/obj/x86/Debug/定期評量成績單_hwhs_epost.csproj.GenerateResource.cache
定期評量成績單-弘文/obj/x86/Debug/定期評量成績單_hwhs_epost.csprojAssemblyReference.cache
缺曠通知單-epost/.vs/ProjectSettings.json
缺曠通知單-epost/.vs/slnx.sqlite
缺曠通知單-epost/.vs/VSWorkspaceState.json
缺曠通知單-epost/.vs/缺曠通知單-epost/v16/.suo
缺曠通知單-epost/.vscode/launch.json
缺曠通知單-epost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
缺曠通知單-epost/obj/Debug/K12.AttendanceAnAdviceNote_hwhs_epost.dll
缺曠通知單-epost/obj/Debug/K12.AttendanceAnAdviceNote_hwhs_epost.pdb
缺曠通知單-epost/obj/Debug/K12.缺曠通知單_hwhs_epost.csproj.GenerateResource.cache
缺曠通知單-epost/obj/Debug/K12.缺曠通知單_hwhs_epost.csprojAssemblyReference.cache
